:root{
  /* transpecos colors */
  --accent-color-1: #269e96;
  --accent-color-2: #5fc6c1;
  --accent-color-3: #4bd3c9;
  --accent-color-4: #326a6f;
  --accent-color-5: #193739;
  /* cro colors */
  --text-white: #fafafa;
  --text-black: #0e0e11;
  --brand-blue: #1d3c86;
  --brand-green: #41a280;
  --brand-red: #dc5750;
  --brand-yellow: #f4de82;
  --bg-green: #30785d;
  --bg-white: #f4efe5;
  --bg-lightgray: #d4d4d4;
  --bg-gray: #797b87;
}